@import "./src/static/fonts.scss";
@import "./src/static/colors.scss";

.slick-dots {
  position: relative;
  &--position {
    position: absolute;
    bottom: 90px;
    right: 149px;
  }
  & li {
    width: 20px;
    height: 8px;
    transform: skewX(45deg);
    background: $colGray;
  }

  & li.slick-active {
    background: $secondary;
    width: 84px;
  }

  & li button:before {
    content: " ";
  }
}

@media (max-width: 767.98px) {
  .slick-ul {
    margin: 16px 0 0;
  }
}

@media (min-width: 992px) {
  .slick-ul {
    margin: 16px 0 0;
    margin-bottom: -30px;
  }
}

@media (max-width: 991.98px) {
  .slick-dots--position {
    bottom: 66px;
    right: 132px;
  }
}
