.product-cards {
  width: 106vw;
  margin-right: 0;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-around;
  padding: 4em 1em;
  transform-style: preserve-3d;
  perspective: 100em;
}
.product-card {
  position: relative;
  overflow: hidden;
  width: 23vw;
  height: 27em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0em;
  // background-color: #fff;
  border-radius: 15px;
  border: 2px solid #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: center;
  -moz-transform-origin: center;
  transition: 0.2s transform ease;
  cursor: pointer;
  margin: 10px auto;
  &:hover {
    border: 2px solid #fa6812;
  }
}

.product-box {
  width: 100%;
  background: #fff;
  position: relative;
}

.product-img {
  position: relative;
  width: 70%;
  height: auto;
  top: 15px;
  left: 15%;

  // background-image: url("https://static.gigabyte.com/StaticFile/Image/Global/49a9df63553c6f67a87b2342773a4990/Product/26843/webp/400");

  margin: 0 auto;
  transition: 0.3s background-image;
}
// .product-card:hover .product-img {
//   background-image: url("https://www.gigabyte.com/FileUpload/Global/KeyFeature/1699/innergigabyteimages/rgb/cover.png");
// }
.product-name,
.product-price {
  position: relative;
  font-family: "Source Code Pro";
  font-weight: 400;
}
.product-name {
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.1em;
  text-align: center;
  color: #f1f1f1;
  background-color: #1e1e1e;
}

.product-price {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-top: 0px;
  color: #ff6400;
  font-size: 1.2em;
  background-color: #131313;
  width: 100%;
}

//Modal window

.product-btn {
  border: none;
  background-color: #fa6812;
  border-radius: 5px;
  padding: 2px 15px;
  color: #fff;
  span {
    font-weight: 300;
    font-size: 14px;
  }
}

.btn-info {
  background-color: none;
}

.modal {
  top: 0px;
  bottom: 150px;
}

.modal-dialog {
  border-radius: 20px;
}
.modal-content {
  border-radius: 18px;
}

.modal-header {
  border-radius: 18px 18px 0 0;
}
.modal-footer {
  border-radius: 0 0 18px 18px;
}
.close {
  display: block;
  border: none;
  background: none;
  color: white;
  font-size: 25px;
}

.modal-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
