@import "./src/static/fonts.scss";
@import "./src/static/colors.scss";

.ProductsFilter {
  display: inline-block;
  vertical-align: top;
  padding: 0px 10px 0px 0px;
  width: 100%;
  height: auto;

  &_block {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 27px;
    padding-bottom: 13px;
    margin-bottom: 30px;
    background-color: #151515;
  }

  &__filter {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    &:hover {
      color: $numpagination;
    }
  }

  &__line {
    margin-left: 60px;
    display: inline-block;
    width: 1px;
    height: 40px;
    margin: 0;
    background: #616161;
  }

  &__clean {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    &:hover {
      color: $numpagination;
    }
  }

  &__btn {
    border: none;
    outline: none;
    background: transparent;
    color: $white;

    &--gray {
      background: $filtercolor;
    }
  }
}

.ProductsFilterDesktop {
  display: flex;
  justify-content: flex-end;
}

.ProductsFilter .container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.sortBy {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 120px;
}

@media only screen and (max-width: 980px) {
  .sortBy {
    padding-right: 40px;
  }
}
