@import "./src/static/fonts.scss";
@import "./src/static/colors.scss";

.svg-inline--fa{
  height: 28px;
}

.filterComponent {
  width: 100%;
  &_ul {
    list-style: none;
    padding-left: 0;
  }

  &_li {
    margin-top: 15px;
  }

  &_div {
    width: 260px;
    padding: 15px 10px;
    font-weight: 400;
    background-color: $filtercolor;
    height: 56px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    position: relative;
    height: 40px;
    font-size: 20px;
    line-height: 26px;
    font-style: normal;
    &:hover {
      color: $numpagination;
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &__checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  &__checkbox + label::before {
    content: "";
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $checkbox;
    background-color: $checkbox;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  &__checkbox:checked + label::before {
    border-color: $numpagination;
    background-color: $numpagination;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
}
