@import "./src/static/fonts.scss";
@import "./src/static/colors.scss";

.page-i {
  border: 1px solid $white;
  border-radius: 0 !important;
  box-shadow: 1px 1px $btnpagination;
  background: #202020;
  cursor: pointer;
  padding: 10px 10px;
  color: $white;
  height: 30px;
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;


  &:hover {
    background-color: transparent;
    border: 1px solid $numpagination;
    color: $white;
  }

  &:focus {
    background-color: transparent;
    border: 1px solid $numpagination;
    color: $white;
  }
}

.page-active {
  background-color: transparent;
  border: 1px solid $numpagination;
  color: $numpagination;
  box-shadow: none;
  shape-outside: none;
}

.page-num {

  height: 30px;
  text-align: center;
  color: $numpagination;
}

// span {
//   display: none;
// }

.sr-only {
  display: inline;
  position: relative;
}

.page-item {

  &:active {
    border: none;
  }
}

.page-item {
  align-items: center;
  display: flex;
}

.pagination {

  position: absolute;
  right: 0;
  bottom: 0;
  // margin-right: 150px;
}

.page-link:focus {

  box-shadow: none;
}
