@import "../../static/colors.scss";

.aos-animate {
  opacity: 0.8;
}
.dnone {
  display: flex;
   
}
.none {
  display: none;
}

.headerMain {
  width: 100%;
  height: 100px;
  background: #0c0a0a;
}
.headerTop {
  position: relative;
}
.infoLink {
  margin: 0px 10px;
  a {
    font-size: 12px;
    &:hover {
      color: $primary;
    }
  }
}
.headerInfo {
  background: #0c0a0a;
}
.autoContainer {
  height: 65px;
  z-index: 2000;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.topLeft {
  position: relative;
  float: left;
}
.topRight {
  position: relative;
  float: right;
}
.headerUpper {
  position: relative;
  background: #0c0a0a;
  // .innerContainer {

  // .autoContainer {

  // };

  // };
}
.logoOuter {
  // position: absolute;
  // top: 55px;
  z-index: 20;
}
.navOuter {
  // position: relative;

  z-index: 19;
}

.headerLower {
  position: absolute;
  top: 143px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.divchick {
  background: #000;
  width: 100%;
  height: 81px;
  position: static;
  z-index: 12;
  top: 65px;
}

.socialImg path {
  fill: red;
}


.btn {
  background: none;
  border: none;
}

//не должно быть столько вложенности
.dropdown-menu {
  position: absolute;
  left: -78px;
  background-color: #000;
  padding: 35px;
  border-radius: 20px;
}

.dropdown-fixed {
  left: -178px;
}
 
.dropdown-menu.show {
   display: flex;
   align-items: center;

  //  position: absolute;

  //  vertical-align: top;
  //  max-width: 200px;
  //  height: auto;
  //  min-height: 100px;
  //  padding: 10px;
  //  text-align: center;
  //  cursor: pointer;
    
   
   

}
.dropdown-item {
  &:hover {
    background-color: #fa6812;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
    transition: all 3ms; 
  }
  padding-top: 20px;
  text-align: center;
  color: #fff;
 
  img {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 120px;
    height: 100px;
  }
}

.groupTitle {
  width: 125px;
  text-align: center;
  padding-top: 10px;
  white-space: normal;

   
}
