@import "../../static/colors.scss";

.aos-animate {
  opacity: 0.8;
}
.dnone {
  display: flex;
   
}
.none {
  display: none;
}

.headerMain {
  width: 100%;
  height: 100px;
  background: #0c0a0a;
}
.headerTop {
  position: relative;
}
.infoLink {
  margin: 0px 10px;
  a {
    font-size: 12px;
    &:hover {
      color: $primary;
    }
  }
}
.headerInfo {
  background: #0c0a0a;
}
.autoContainer {
  height: 65px;
  z-index: 2000;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.topLeft {
  position: relative;
  float: left;
}
.topRight {
  position: relative;
  float: right;
}
.headerUpper {
  position: relative;
  background: #0c0a0a;
  // .innerContainer {

  // .autoContainer {

  // };

  // };
}
.logoOuter {
  // position: absolute;
  // top: 55px;
  z-index: 20;
}
.navOuter {
  // position: relative;

  z-index: 19;
}

.headerLower {
  position: absolute;
  top: 143px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.divchick {
  background: #000;
  width: 100%;
  height: 81px;
  position: static;
  z-index: 12;
  top: 65px;
}

.socialImg path {
  fill: red;
}


.btn {
  background: none;
  border: none;
}

//не должно быть столько вложенности
