@import "../../static/colors";

.myBtn {
    color: $primary;
    z-index: 1;
    border-color: $primary;
    &:hover {
        background: $primary;
    }
    &:focus {
       border:none;
    }
    // &::after {
    //     z-index: 20;
    //     position: absolute  ;
    //     content: " ";
    //     width: 127px;
    //     height: 13px;
    //     background: inherit;
    //     border: 1px solid $primary;
    //     bottom:32px;
         
    // }
    // &::before {
    //     z-index: 21;
    //     position: absolute  ;
    //     content: " ";
    //     width: 127px;
    //     height: 13px;
    //     background: #000;
    //     border: 1px solid $primary;
    //     bottom:-4px;
    // }
}