@import "./src/static/fonts.scss";
@import "./src/static/colors.scss";

.products__wait {
  display: block;
  color: $primary;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
}

.col-xl-4 {
  padding: 0;
}

.production-list-centered {
  display: flex;
  justify-content: center;
  align-content: center;
}

.production-list {
  width: fit-content;
}

.products-section-container {
  width: 106vw;
  margin: auto;
  padding-top: 1.5em;
}

@media screen and (max-width: 1200px) {
  .products-list-mobile {
    display: none;
  }
}

.text-placeholder-after-products {
  padding-top: 5.5em;
  padding-bottom: 5.5em;
  background-color: black;
  // background-image: linear-gradient(#000000 99%, #6610f2 1%);
}
.products-list-mobile {
  background-image: linear-gradient(rgb(0, 0, 0) 60%, #333);
}
.banner-image-products {
  background-color: black;
  position: relative;
}
.gradient-image {
  position: absolute;
  height: 5em;
  right: 0;
  left: 0;
  bottom: -0.95em;
  z-index: 10000000;
  background-image: linear-gradient(to bottom, transparent 0%, black 100%);
  // opacity: 50%;
}
.podpivasnik {
  background-color: black;
  padding-bottom: 3em;
}
.gradient {
  height: 4em;
  margin-bottom: 3em;
  background-image: linear-gradient(#000000 60%, #333 );
}

.spirit-breaker {
  // background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(51, 51, 51, 1) 30%);
}

@media only screen and (max-width: 980px) {
  .products-section-container {
    width: 100%;
  }
}
