@import "../../../static/_colors";

.newsDescription {
  padding-top: 8px;
  color: $secondaryLight;
  display: inline-block;
  max-width: 96%;
  height: 5em;
}
.newsImg {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.imgBox {
  background-color: black;
  position: relative;
  width: 100%;
  height: 18em  ;
  overflow: hidden;
  z-index: 999;
  &:hover {
    transform: scale(1.1);
  }
  clip-path: polygon(
    0% 0%,
    0% 100%,
    64.85% 100%,
    15% 0,
    86% 0,
    83% 3%,
    16% 3%,
    8% 100%,
    100% 100%,
    100% 0%
  );

  img {
    width: 100%;
    // height: 60%;
    transition: all 0.3s;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.divvv {
  width: 100%;
}

.container {
  .slick-slider {
    .slick-slide {
      .divvv {
        height: 500px;
        &:hover {
          .newsDescription {
            text-overflow: ellipsis;

            overflow: hidden;
            transition: 0.4s;
            color: #fff;
          }
          .outlineButton {
            transition: 0.4s;
            display: block;
          }
        }
      }
    }
  }
}

.outlineButton {
  width: 95%;
  display: none;
  position: relative;

  padding: 0.2em 0;
  background: transparent;
  outline: none;
  border: 2px solid $primary;
  color: $primary;
  margin: 0.3em 0;
  font-size: 1.2em;
}
.outlineButton::before,
.outlineButton::after {
  content: "";
  position: absolute;
  width: 4em;
  height: 0.6em;
  border: 2px solid $primary;
  background: transparent;
  z-index: 100;
  transition: 0.3s;
}
.outlineButton::before {
  bottom: -0.35em;
  left: 0.5em;
}
.outlineButton::after {
  top: -0.35em;
  right: 0.5em;
}
.outlineButton:hover {
  cursor: pointer;
}
.outlineButton:hover:before,
.outlineButton:hover:after {
  width: 15em;
}

.news-slider {
  .slick-arrow {
    top: 33%;
  }
  .slick-prev {
    left: -3%;
  }
}

@media screen and (max-width: 774px) {
  .divvv {
    &:hover {
      .outlineButton {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .divvv {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 6%;
  }
}
