@import "../../../static/_colors";

.devicesSection {
  padding-top: 80px;
}

.deviceName {
  text-align: center;
}

.device-active {
  .deviceName__clips:before,
  .deviceName__clips:after,
  .deviceName:before,
  .deviceName:after {
    display: block;
    width: 10px;
    height: 10px;
    border-color: #ff6400;
    opacity: 1;
  }

  .deviceName__clips:before {
    top: 0;
    right: 0;
    z-index: 5;
    border-width: 2px 2px 0 0;
  }

  .deviceName__clips:after {
    bottom: 0;
    left: 0;
    border-width: 0 0 2px 2px;
  }

  .deviceName:before {
    top: 0;
    left: 0;
    border-width: 2px 0 0 2px;
    z-index: 5;
  }

  .deviceName:after {
    bottom: 0;
    right: 0;
    border-width: 0 2px 2px 0;
  }

  .deviceName {
    font-size: 24px;
    transition: all 0.3s ease-in-out;
    color: #ff6400;
  }
}

.slick-prev,
slick-next {
  z-index: 1000;

}

.container {
  .slick-slider {
    .slick-prev:before,
    .slick-next:before {
      color: $primary;
      font-size: 26px;
      padding: 2em;     
      margin: -2em; 
    }

    .slick-slide {
      .DevicesComponent {
        // margin: 0 10px 0;

        &::before {
          position: absolute;
          content: " ";
          width: 180px;
          height: 180px;
          bottom: 67px;
          margin-left: 65px;
          z-index: 2;
          background-image: url(../../../static/images/deviceBg.png);
          background-repeat: no-repeat;
          background-position: center;
        }

        .deviceImg {
          z-index: 22;
          position: relative;
          width: 50%;
          padding-top: 30px;
        }

        &:hover {
          transition: 0.4s;

          &::before {
            transition: 0.4s;
            position: absolute;
            content: " ";
            width: 220px;
            height: 190px;
            top: 10px;
            margin-right: 200px;
            z-index: 1;
            background-image: url(../../../static/images/deviceBg1.png);
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
          }

          .deviceName__clips:before,
          .deviceName__clips:after,
          .deviceName:before,
          .deviceName:after {
            display: block;
            width: 10px;
            height: 10px;
            border-color: #ff6400;
            opacity: 1;
          }

          .deviceName__clips:before {
            top: 0;
            right: 0;
            z-index: 5;
            border-width: 2px 2px 0 0;
          }

          .deviceName__clips:after {
            bottom: 0;
            left: 0;
            border-width: 0 0 2px 2px;
          }

          .deviceName:before {
            top: 0;
            left: 0;
            border-width: 2px 0 0 2px;
            z-index: 5;
          }

          .deviceName:after {
            bottom: 0;
            right: 0;
            border-width: 0 2px 2px 0;
          }

          .deviceName {
            font-size: 24px;
            transition: all 0.3s ease-in-out;
          }

          color: $primary;

          img {
            transition: 0.4s;
            transform: scale(1.2);
          }
        }
      }

      .device-active {
        &::before {
          transition: 0.4s;
          position: absolute;
          content: " ";
          width: 220px;
          height: 190px;
          top: 10px;
          margin-right: 200px;
          z-index: 1;
          background-image: url(../../../static/images/deviceBg1.png);
          background-repeat: no-repeat;
          background-position: right;
          background-size: contain;
        }
      }

      .deviceImg {
        transform: scale(1.2);
      }
    }
  }
}
