@import "../../../static/_colors";


.devicesSection {
  padding-top: 80px;
}
.deviceName {
  margin-left:20px;
  text-align: center; 
} 

.container {
    
  .slick-slider {
    
    .slick-prev:before,
    .slick-next:before {
      color: $primary;
      font-size: 26px;
    }
    .slick-slide {
       
        .DevicesComponent {
            &::before {
                position: absolute;
                content: " ";
                width: 180px;
                height: 180px;
                bottom: 67px;
                margin-left: 65px;
                z-index: 2;
                background-image: url(../../../static/images/deviceBg.png);
                background-repeat: no-repeat;
                background-position:center;
            }
            .deviceImg {
                 z-index: 22;
                 position: relative;
                 
                
             }
            
           
            &:hover {
                transition: 0.4s;
                &::before {
                    transition: 0.4s;
                    position: absolute;
                    content: " ";
                    width: 220px;
                    height: 190px;
                    top: 10px;
                    margin-right: 200px;
                    z-index: 1;
                    background-image: url(../../../static/images/deviceBg1.png);
                    background-repeat: no-repeat;
                    background-position:right;
                    background-size: contain;
                }
                
                
                .deviceName {
                    
                    font-size: 21px;
                }
                color: $primary;
                img {
                
                  transition: 0.4s;
                  transform: scale(1.2);
                }
              }
        }
        
          
      
    }
  }
}
