@import "./src/static/fonts.scss";
@import "./src/static/colors.scss";

.gallery {
  margin-bottom: 90px;
  // &-items {
  //   height: 50em;
  //   width: 45%;
  //   display: flex;
  //   flex-flow: column wrap;
  //   align-items: center;
  //   margin: 0 auto;
  // }

  &_lines {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__thin {
    display: inline-block;
    width: 49px;
    height: 4px;
    background: #fa68124a;
  }

  &__bold {
    margin: 0 10px;
    display: inline-block;
    width: 49px;
    height: 7px;
    background: #fa681296;
  }

  &__white {
    margin: 0 10px;
    display: inline-block;
    width: 875px;
    height: 10px;
    background: #fa6812;
  }

  &__orange {
    display: inline-block;
    width: 875px;
    height: 10px;
    background: $primary;
  }

  &_btn {
    margin-top: 27px;
    border: none;
    outline: none;
    background-color: transparent;
    color: $white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    &__Arrow {
      border: solid $white;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 4px;
      margin: 5px;
      transform: rotate(45deg);
    }
  }

  &__img {
    width: 100%;
    height: auto;

    &--hidden {
      display: none;

      /* Overlay entire screen */
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      /* A bit of padding around image */
      padding: 1em;

      /* Translucent background */
      background: rgba(0, 0, 0, 0.8);

      &:target {
        display: block;
      }

      & span {
        /* Full width and height */
        display: block;
        width: 100%;
        height: 100%;

        /* Size and position background image */
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

.row {
  --bs-gutter-x: 0;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}
