$white: #fff;
$mainBg: #050307;
$colGray: #826e6e;
$primary: #fa6812;
$secondary: #e2550b;
$secondaryText: #c3c3c3;
$secondaryLight: #8e8e8e;
$lineLight: #b4b3b5;
$lineDark: #504f51;
$titleGray: #cecece;
// :export {
//   white: $white;
// }
