$white: #fff;
$mainBg: #050307;
$primary: #fa6812;
$secondary: #e2550b;
$secondaryText: #c3c3c3;
$secondaryLight: #8e8e8e;
$outline: 1px solid #fa6812;
$colGray: #826e6e;
$lineLight: #b4b3b5;
$lineDark: #504f51;
$titleGray: #cecece;
$btnpagination: #5c5f65;
$numpagination: #cb6330;
$filtercolor: #202020;
// :export {
//   white: $white;
// }
