@media only screen and (max-width: 1920px) {
  .product-card {
    margin: 10px 0 0 33px;
  }

  .col-xl-3 {
    padding: 0;
  }

  .ProductsFilter {
    width: 309px;
  }

  .ProductsFilterMobile {
    display: none;
  }
  .ProductsFilter__lineBlock {
    padding: 0 35px;
  }
}

@media only screen and (max-width: 1384px) {
  .navOuter {
    width: 415px;
    height: 157px;
    left: 23%;
  }

  .product-card {
    margin: 10px 0 0 33px;
    width: 21vw;
  }

  .col-xl-3 {
    padding: 0;
  }

  .ProductsFilter {
    width: 309px;
  }
}

@media only screen and (max-width: 1200px) {
  .groupTitle {
    display: flex;
  }
  .dropdown-menu.show {
    flex-direction: column;
  }
  .dropdown-menu {
    padding: 0;
  }
  .dropdown-item {
    text-align: left;
    img {
      display: none;
      // flex-direction: column;
      // justify-content: flex-start;
      // text-align: left;
      // width: 20px;
      // height: 20px;
    }
  }
  .none {
    display: flex;
  }
  .header {
    display: none;
  }
  .brand {
    display: none;
  }
  .social {
    display: none;
  }
  .navOuter {
    display: none;
  }
  .logoOuter {
    left: 80%;
    img {
      margin-top: 40px;
    }
  }
  // .product-card {
  //   width: 19vw;
  // }
  .ProductsFilter {
    width: 100%;
  }
  .products_row {
    padding-right: 40px !important;
    padding-left: 40px;
  }
}

@media only screen and (max-width: 991px) {
  .product-card {
    width: 38vw;
    margin: 20px auto;
    &::before {
      width: 43vw;
    }
  }
  .ProductsFilterDesktop {
    display: none;
  }
  .ProductsFilterMobile {
    display: block;
  }
  .ProductsFilter_block {
    display: none;
  }
  .filterComponent_div {
    width: 100%;
  }
  .ProductsFilterBtn {
    display: block !important;
  }
  .Divider {
    width: 600px !important;
  }
}

@media only screen and (max-width: 790px) {
  .devicesSection {
    padding-top: 200px;
  }
  .DevicesComponent {
    img {
      width: 60%;
    }
  }

  .product-card {
    width: 41vw;
    &::before {
      width: 49vw;
    }
  }

  .products_row {
    padding: 0 !important;
  }
  .ProductsFilterBtn {
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 766px) {
  .slick-prev {
    left: 10%;
  }
  .slick-next {
    right: 10%;
  }
  .logo {
    display: none;
  }
  .DevicesComponent {
    img {
      width: 45%;
    }
  }
  .footerLine {
    height: 35rem;
  }

  .pagination {
    margin-right: 27px;
  }

  .Divider {
    width: 400px !important;
  }
}

@media only screen and (max-width: 575px) {
  .slick-prev {
    left: 10%;
  }
  .slick-next {
    right: 10%;
  }
  .footerLine {
    height: 65rem;
  }
  .product-card {
    width: 38vw;
    &::before {
      width: 44vw;
    }
  }
}
@media (min-width: 576px) {
  .close {
    display: block;
  }
  .modal-dialog {
    max-width: 717px;
  }
}

@media only screen and (max-width: 500px) {
  .product-card {
    width: 20vw;
    height: 20em;
  }
  .product-img {
    display: block;
    width: 70%;
    left: 0;
    height: 7.5em;
  }
  .product-name {
    padding: 5px 5px;
  }
  .imgBox__image {
    width: 98vw;
  }
  .slick-prev {
    left: 10%;
  }
  .slick-next {
    right: 10%;
  }
  .container {
    .slick-slider {
      .slick-slide {
        .DevicesComponent {
          &::before {
            margin-left: 16px;
            bottom: 40px;
          }
          img {
            width: 50%;
          }

          &:hover {
            &::before {
              width: 0;
              height: 0;
            }
          }
        }
      }
    }
  }
  .footer-img {
    display: none;
  }
  .footerContent {
    margin-top: 30;
  }
  .logoDescr {
    img {
      padding-top: 100px;
    }
  }

  .product-card {
    width: 46vw;
    &::before {
      width: 57vw;
    }
  }

  .product-name {
    font-size: 0.8em;
  }

  .product-price {
    font-size: 0.9em;
  }

  .product-cards {
    padding: 1em 1em;
  }

  .page-num--none {
    display: none;
  }

  .pagination {
    margin-right: -20px;
  }

  .gallery {
    margin-bottom: 40px;
  }

  .row > * {
    padding: 6px;
  }

  .products_rowFirst {
    padding: 0 !important;
  }

  .Divider {
    width: 200px !important;
  }
}

@media only screen and (min-width: 1400px) {
  .col-xl-4 {
    width: 24%;
  }
  .product-card {
    width: 16vw;
  }

  .ProductsFilter {
    width: 440px;
  }

  .filterComponent_div {
    width: 390px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .col-xl-4 {
    width: 40%;
  }
  .product-card {
    width: 24vw;
  }
}
