@media only screen and (max-width: 1920px) {
  .product-card {
    margin: 10px 0 0 33px;
    width: 17vw;
  }

  .col-xl-3 {
    padding: 0;
  }

  .ProductsFilter {
    width: 309px;
  }
}

@media only screen and (max-width: 1500px) {
  .product-card {
    width: 19vw;
  }
}

@media only screen and (max-width: 1500px) {
  .product-card {
    width: 18vw;
  }
}

@media only screen and (max-width: 1384px) {
  .navOuter {
    width: 415px;
    height: 157px;
    left: 23%;
  }

  .product-card {
    margin: 10px 0 0 33px;
    width: 19vw;
  }

  .col-xl-3 {
    padding: 0;
  }

  .ProductsFilter {
    width: 309px;
  }
}

@media only screen and (max-width: 1200px) {
  .none {
    display: flex;
  }
  .header {
    display: none;
  }
  .brand {
    display: none;
  }
  .social {
    display: none;
  }
  .navOuter {
    display: none;
  }
  .logoOuter {
    left: 80%;
    img {
      margin-top: 40px;
    }
  }
  .product-card {
    width: 24vw;
  }
  .ProductsFilter {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .product-card {
    width: 38vw;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 790px) {
  .devicesSection {
    padding-top: 200px;
  }
  .DevicesComponent {
    img {
      width: 60%;
    }
  }

  .product-card {
    width: 45vw;
  }
}

@media only screen and (max-width: 766px) {
  .DevicesComponent {
    img {
      width: 45%;
    }
  }
  .footerLine {
    height: 35rem;
  }

  .pagination {
    margin-right: 27px;
  }
}

@media only screen and (max-width: 575px) {
  .footerLine {
    height: 65rem;
  }
  .product-card {
    width: 66vw;
    &::before {
      width: 40vw;
    }
  }
}

@media only screen and (max-width: 500px) {
  .slick-prev {
    left: 10%;
  }
  .slick-next {
    right: 10%;
  }
  .container {
    .slick-slider {
      .slick-slide {
        .DevicesComponent {
          &::before {
            margin-left: 16px;
            bottom: 40px;
          }
          img {
            width: 50%;
          }

          &:hover {
            &::before {
              width: 0;
              height: 0;
            }
          }
        }
      }
    }
  }
  .footer-img {
    display: none;
  }
  .footerContent {
    margin-top: 30;
  }
  .logoDescr {
    img {
      padding-top: 100px;
    }
  }

  .product-card {
    width: 87vw;
    &::before {
      width: 55vw;
    }
  }

  .product-cards {
    padding: 1em 1em;
  }

  .page-num--none {
    display: none;
  }

  .pagination {
    margin-right: -20px;
  }

  .gallery {
    margin-bottom: 40px;
  }

  .row > * {
    padding: 6px;
  }
}
