@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700;900&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #fff;
  cursor: url("./static/images/cursor1.png"), auto;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  /* 1 - скроллбар */
  width: 4px;
  height: 4px;
  background-color: #050307;
}
::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  border-radius: 2px;
  background-color: #fa6812;
}

a {
  text-decoration: none;
  color: #c3c3c3;
}
li {
  list-style: none;
}
code {
  font-family: "Titillium Web", sans-serif, monospace;
}

/* Bootstrap restyling */

.bg-dark {
  background: #000 !important;
}

.nav-link {
  color: #c3c3c3;
}
.nav-link:hover, .nav-link:focus{
  color: #fa6812;
}


