@import "./src/static/fonts.scss";
@import "./src/static/colors.scss";

.sliderAorus {
  background: $mainBg center / cover no-repeat;

  &__img {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__imgMobile {
    display: none !important;
  }

  &_block {
    position: absolute;
    top: 0;
    padding: 181px 100px 0;
  }

  &__title {
    font-family: "Aldrich", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    margin-bottom: 13px;
    text-align: center;
  }

  &__subtitle {
    font-family: Titillium Web;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 13px;
    text-align: center;
    word-break: break-all;
  }
}

.blackFooter {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.firstBlack {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 34px;
  background: black;
}

@media (min-width: 320px) and (max-width: 575px) {
  .sliderAorus {
    &__title {
      font-size: 20px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &_block {
      padding: 401px 0px 0;
    }

    &__img {
      display: none !important;
    }

    &__imgMobile {
      width: 100%;
      display: inline-block !important;
      height: 140.625vw;
      object-fit: cover;
      object-position: center center;
    }
  }
  .slick-ul {
    margin: 0;
  }
}

@media (min-width: 575.98px) and (max-width: 710px) {
  .sliderAorus {
    &__title {
      font-size: 35px;
    }
    &__subtitle {
      font-size: 17px;
    }
    &_block {
      padding: 601px 40px 0;
    }

    &__img {
      display: none !important;
    }

    &__imgMobile {
      width: 100%;
      display: inline-block !important;
      height: 140.625vw;
      object-fit: cover;
      object-position: center center;
    }
  }
}

@media (min-width: 710px) and (max-width: 768px) {
  .sliderAorus {
    &_block {
      padding: 758px 61px 0;
    }

    &__img {
      display: none !important;
    }

    &__imgMobile {
      width: 100%;
      display: inline-block !important;
      height: 140.625vw;
      object-fit: cover;
      object-position: center center;
    }
  }
}

@media (min-width: 768px) and (max-width: 878px) {
  .sliderAorus {
    &_block {
      padding: 817px 101px 0;
    }

    &__img {
      display: none !important;
    }

    &__imgMobile {
      width: 100%;
      display: inline-block !important;
      height: 140.625vw;
      object-fit: cover;
      object-position: center center;
    }
  }
}

@media (min-width: 878px) and (max-width: 991px) {
  .sliderAorus {
    &_block {
      padding: 974px 152px 0;
    }

    &__img {
      display: none !important;
    }

    &__imgMobile {
      width: 100%;
      display: inline-block !important;
      height: 140.625vw;
      object-fit: cover;
      object-position: center center;
    }
  }
}

@media (min-width: 990.98px) {
  .sliderAorus {
    &_block {
      padding: 217px 47px 0;
    }

    &__subtitle {
      font-size: 18px;
    }
  }
}

@media (min-width: 1200px) {
  .sliderAorus {
    &_block {
      padding: 268px 194px 0;
    }
  }
}

@media (min-width: 1400px) {
  .sliderAorus {
    &_block {
      padding: 330px 250px 0;
    }
  }
}
