.progress {
  width: 2px;
  background: hsla(0, 0%, 100%, 0.4);

  &Div {
    background: #fff;
  }
}

.sliderAorus__lifecycle {
  position: absolute;
  top: 185px;
  // margin-left: 1200px;
  margin-left: -60px;
}

// Medium devices (tablets, less than 992px)
@media (max-width: 990.98px) {
  .sliderAorus__lifecycle {
    display: none;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .sliderAorus__lifecycle {
    top: 100px;
  }
}
